$color-dark: #403F3D;
$color-add: #B0907A;
$color-light: #E1D4C9;

$color-body: #E1D4C9;
$color-container: #665F55;
$color-backdrop: rgba(64, 63, 61, 0.80);

$color-boder: #C1B6AD;


$laptopbig-width: 1286px;
$laptop-width: 1024px;
$tablet-width: 991px;
$tablet-small-width: 768px;
$mobile-width: 644px;
$mobile-small-width: 380px;