.enjoy {
    
}
.enjoy__bg {
    height: 64.4rem;
    border-radius: 4rem;
    padding: 10rem;
    position: relative;
    overflow: hidden;
    @include media-tabletbig {
        padding: 10rem 6rem;
    }
    @include media-tablet {
        height: auto;
    }
    @include media-mobile {
        height: 60rem;
        padding: 6rem 1.6rem;
    }
    @include media-mobile-small {
        height: 55.2rem;
        padding: 6rem 1.6rem;  
    }
}

.enjoy__block {
    display: flex;
    flex-direction: column;
    max-width: 53rem;
    @include media-laptop-big  {
        width: 90%;
    }
    @include media-laptop  {
        width: 100%;
    }
}

.enjoy p {
    @extend %font-prim;
    @include font ($size: 1.6rem, $height: 1.5, $weight: 400, $style: normal);
    font-feature-settings: 'clig' off, 'liga' off;
    color: $color-light;
    margin-bottom: 4rem;
}
.enjoy__btn {
    display: flex;
    margin-top: 4rem;
}

.button.button-enjoy:hover {
    padding: 2rem 4.8rem 2rem 6.8rem;
    transition: all .3s linear, ease-out .1s ease-out;
}

.button-enjoy:hover svg {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.button.button-enjoy {
    @include media-tabletbig {
        padding: 2.3rem 5rem 2.2rem 6.3rem;
    }
}

.button-enjoy svg {
    margin-left: .8rem;
    opacity: 0;
    @include media-tabletbig {
        opacity: 1;
    }
}

.enjoy__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

